{% extends 'header.html'%}
{% block content %}
<style>
.card {
  position: relative;
  margin: 150px auto;
  width: 450px;
  padding: 20px;
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 0;
}
.circle {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background: black;
    position: absolute;
    right: 0px;
    top: 0;
    border-bottom-left-radius: 170px;
  }
  .content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0;
  }
  h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
  }
  
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/c8ee3dd930.js"></script>

<div class="container">
      <div class="card">
        <div class="title">
      <h1>Edit Post</h1>
    </div>
    <form action="" method="post" >
        {% csrf_token %}
    <div class="content">
        <img src="{{uid.image.url}}" alt="" style="height: 300px; width: 300px;"><br>
    </div>
    <div class="content">
        <label for="">Caption</label>
        {{form.caption}}
        <br>
        <input type="submit" value="Update" style="background-color: turquoise; border: none; border-radius: 5px; color: #333; /* Dark grey */ padding: 15px 32px">
    </div>
</form>
  <div class="circle"></div>
  </div>
</div>




{% endblock %}