{% extends 'header.html'%}
{% block content %}
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 edit_information">
        <form action=""  method="POST" enctype="multipart/form-data">	
            {% csrf_token %}
            <h2 class="text-center" style="color: #de4426;">Edit Personal Information</h2>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Name:</label>
                        {{form.name}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Email:</label>
                        {{form.email}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Mobile Number:</label>
                        {{form.phone}}                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Gender:</label>
                        {{form.gender}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Address:</label>
                        {{form.address}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Bio:</label>
                        {{form.bio}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="profile_details_text">Profile:</label>
                        {{form.profile}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Update">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %} 